body {
    margin: 0;
    padding: 0;
    background: purple;
}
.App {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono {
    width: 50px;
}

select {
    background: black;
    color: white;
    border: none;
    font-size: 14px;
    height: 49px;
    padding: 35px;
    /* If you add too much padding here, the options won't show in IE */
    width: 320px;
    outline: none;
}
